.CouponsCard {
  width: 200px;
  display: inline-flex;
  text-align: left;
  background-image: linear-gradient(90deg, lightgray, white);
  position: relative;
}

.CouponsCard img {
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: middle;
  margin-top: 10px;
}

.CouponsCard > div:last-child {
  margin-left: auto;
}
