.coupons-menu-item {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .coupons-menu {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .coupons-menu-list {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  