.AuthMenu {
    position: absolute;
    right: 20px;
    justify-content: center;
    box-sizing: border-box;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
