.Menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menu-name {
  font-size: large;
}
.Menu-button {
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  width: 100%;
}

.Menu-list {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 100px;
  list-style: none;
  margin: 0;
}

.Menu-item {
  margin-bottom: 100px;
}

.active {
  color: burlywood;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
