.AddCompany > form {
  width: 250px;
  text-align: left;
  margin: auto;
}
.AddCompany input,
.AddCompany button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.AddCompany h2 {
  text-align: center;
}

.AddCompany span {
  position: absolute;
  color: red;
  margin-left: 10px;
}
