html,
body,
#root {
  margin: 0;
  height: 100%;
  text-align: center;
  color: #003366;
  background-image: linear-gradient(45deg, #ADD8E6, #FFFFFF);
}
a {
  color: #0066CC;
}
.Box {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #B0C4DE;
}
