html,
body,
#root {
  margin: 0;
  height: 100%;
  text-align: center;
  color: #003366;
  background-image: linear-gradient(45deg, #add8e6, #ffffff);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: #0066cc;
}
.Box {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #b0c4de;
}
