html,
body,
#root {
  margin: 0;
  height: 100%;
  text-align: center;
  color: cornflowerblue;
  background-image: linear-gradient(45deg, cornflowerblue, white);
}
a {
  color: darkblue;
}
.Box {
  display: inline-block;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px;
}
