.UpdateCompany > form {
  width: 250px;
  text-align: left;
  margin: auto;
}
.UpdateCompany input,
.UpdateCompany button {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.UpdateCompany h2 {
  text-align: center;
}

.UpdateCompany span {
  position: absolute;
  color: red;
  margin-left: 10px;
}
